<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Items List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>code</th>
        <th>idSubcategory</th>
        <th>subcategoria</th>
    </tr>

    <tr th:each="item:${items}">
        <td th:text="${item.id}">123</td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.code}"></td>
        <td>
            <table>
                <tr th:each="subCategory:${item.subCategory}">
                    <td th:text="${subCategory.id*10}">123</td>
                    <td th:text="${subCategory.name}"></td>
                    <td th:text="${subCategory.code}"></td>

                </tr>
            </table>
        </td>
    </tr>
    <!--
    <tr th:each="category:${categorys}">
        <td th:text="${category.id}">123</td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.code}"></td>
        <td>
            <table>
                <tr th:each="subCategory:${category.subCategory}">
                    <td th:text="${subCategory.id*20}">123</td>
                    <td th:text="${subCategory.name}"></td>
                    <td th:text="${subCategory.code}"></td>

                </tr>
            </table>
        </td>
    </tr>
    -->

</table>
</body>
</html>